
<%-include("../partials/header.ejs") %>
<%-include("../partials/admin/navbar.ejs") %>
<%-include("../partials/admin/sidebar.ejs") %>

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Complaint</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Complaint</li>
        <li class="breadcrumb-item active">Details</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h1 class="card-title">
             Moeez Ali
            </h1>

            <div class="pagetitle">
              <div class="card-body">
                <div class="rightbtn">
                  <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#basicModal">
                    Resolve
                  </button>
                <div class="modal fade" id="basicModal" tabindex="-1">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Confirmation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                       Are you sure you want to resolve this complaint?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Confirm</button>
                      </div>
                    </div>
                  </div>
                </div><!-- End Basic Modal-->

                </div>
              </div>
              <h5>
              123546783435
              </h5>
             
              <h5>
                House: 1
              </h5>
              <h5>
                Block: B
              </h5>
            
              <h5>
               e-424,lahore
              </h5>

            </div>
          </div>

        </div>




      
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Description:</h5>
            <!-- Filter dropdown for paid/unpaid bills -->
          
            <!-- End Table with hoverable rows -->

          </div>
        </div>
      </div>
    </div>
  </section>
</main>





</div>
</div>
</div>

</div>
</div>

</div>
</div>
</section>

</main>


<%-include("../partials/footer.ejs") %>