<%-include("../partials/header.ejs") %>
<%-include("../partials/admin/navbar.ejs") %>
<%-include("../partials/admin/sidebar.ejs") %>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Generate Bills</h1>
      
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h1 class="card-title">
               Moeez Ali
              </h1>

              <div class="pagetitle">
              
                </div>
                <h5>
                 cnic
                </h5>
                <h5>
                address
                </h5>

            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Old Units:</h5>

            </div>
          </div>

        

  
        </div>

        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Bill Form</h5>

              <div class="pagetitle">
                
                <form class="row g-3 needs-validation" novalidate>

                  <div class="col-12">
                    <label for="billType" class="form-label">BILLTYPE:</label>
                    <div class="input-group has-validation">
                      <fieldset class="row mb-3">
                     
                        <div class="col-sm-10">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="0" >
                            <label class="form-check-label" for="gridRadios1">
                              Electricity
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="1">
                            <label class="form-check-label" for="gridRadios2">
                              Gas
                            </label>
                          </div>
                          <div class="form-check ">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios" value="2" >
                            <label class="form-check-label" for="gridRadios3">
                             Water
                            </label>
                          </div>
                        </div>
                      </fieldset>
                  </div>
  
                  <div class="col-12">
                    <label for="currentUnits" class="form-label">CURRENTUNITS:</label>
                    <input type="text" name="currentUnits" class="form-control" id="currentUnits" required>
                    <div class="invalid-feedback">Please enter oldunits!</div>
                  </div>
                  <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit">Generate</button>
                  </div>
                </form>
               
              </div><!-- End Breadcrumbs with a page title -->

            </div>
          </div>

          
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->




<%-include("../partials/footer.ejs") %>