<%-include("../partials/header.ejs") %>
<%-include("../partials/resident/resiNavbar.ejs") %>
<%-include("../partials/resident/resiSidebar.ejs") %>


<main id="main" class="main">
  <section class="section">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Register Form</h5>

         <div class="pagetitle">

  <form  action="/resident/visitors/register" method="post" class="row g-3 needs-validation" novalidate>

    <div class="col-12">
      <label for="billType" class="form-label"></label>
      <div >
        <fieldset class="row mb-3">

         
        
              <div class="col-12">
                  <label for="name" class="form-label"><h4>Name:</h4></label>
                  <input type="text" name="name" class="form-control" id="name" required>
                  <div class="invalid-feedback">Please enter your name!</div>
              </div>
            </div>
          
       
      </div>

      <div class="col-12">
        <label for="cnic" class="form-label"><h4>Cnic:</h4></label>
        <input type="text" name="cnic" class="form-control" id="cnic" required>
        <div class="invalid-feedback">Please enter your cnic!</div>
      </div>
      <div class="col-12">
       <label for="date" class="form-label"><h4>Date:</h4></label>
       <input type="date" id="date" name="date"  class="form-control" required>
       <div class="invalid-feedback">Please enter date!</div>
      </div>
      <div class="col-12">
        <label for="reason" class="form-label"><h4>Reason:</h4></label>
        <input type="text" name="reason" class="form-control" id="reason" required>
        <div class="invalid-feedback">Please enter your reason!</div>
      </div>
      <br>
      <div class="col-12">
        <button  class="btn btn-primary w-100" type="submit">Submit</button>
      </div>
    </fieldset>
  </form>

</div>
</div>
</div>
</section>
</main>




<script>
  function validateCNIC() {
    var cnicInput = document.getElementById('cnic');
    var cnicRegex = /^[0-9]{5}-[0-9]{7}-[0-9]$/;

    if (!cnicRegex.test(cnicInput.value)) {
      alert('Please enter a valid CNIC number (e.g., 12345-1234567-1)');
      cnicInput.focus();
      return false;
    }

    return true;
  }
</script>


<%-include("../partials/footer.ejs") %>