<!-- 


<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <i class="bi bi-exclamation-octagon me-1"></i>
  A simple danger alert with icon—check it out!
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


 -->
 <%-include("../partials/header.ejs") %>
 <%-include("../partials/admin/navbar.ejs") %>
 <%-include("../partials/admin/sidebar.ejs") %>
 
 <main id="main" class="main">
 
   <div class="pagetitle">
     <h1>Resident</h1>
     <nav>
       <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="index.html">Home</a></li>
         <li class="breadcrumb-item">Resident</li>
         <li class="breadcrumb-item active">Buy House</li>
       </ol>
     </nav>
   </div><!-- End Page Title -->
 
   <section class="section">
     
      <div class="row align-items-top">
        <div class="col-lg-6">

          <a href="">
          
             <div class="card"><span style=" background: linear-gradient(135deg, #fad961 0%, #f76b1c 100%);">
             <div class="card-body">
          
              <h5 class="card-title">Default Card</h5>
              Ut in ea error laudantium quas omnis officia. Sit sed praesentium voluptas. Corrupti inventore consequatur nisi necessitatibus modi consequuntur soluta id. Enim autem est esse natus assumenda. Non sunt dignissimos officiis expedita. Consequatur sint repellendus voluptas.
              Quidem sit est nulla ullam. Suscipit debitis ullam iusto dolorem animi dolorem numquam. Enim fuga ipsum dolor nulla quia ut.
              Rerum dolor voluptatem et deleniti libero totam numquam nobis distinctio. Sit sint aut. Consequatur rerum in.
             </div>
              </div>
            </span>
           </a>
       <div class="col-lg-6">
      

 </section>
 
 </main>
 
 
 <%-include("../partials/footer.ejs") %>